.btn {
    outline: none;
    padding: .84rem 2.14rem;
    border: 0;
    box-shadow: none;
    border-radius: 50px;
    font-size: 1rem;

    &:hover{
        background-color: darken($primary-white-color, 20%);
    }
}
.btn-w-m {
    min-width: 250px;
    font-size: 20px;
    border: .6px solid $primary-white-color;
    color: $primary-black-color;
}