@import './font';

$desktop-general-size       : 1440px;
$desktop-general-small      : 1024px;
$desktop-xsmall             : 1020px;
$tablet-size                : 768px;
$phone-size-medium          : 480px;
$phone-size-ms              : 375px;
$phone-size-small           : 320px;

$mobile-screen-xs           : 285px;